@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=IBM+Plex+Sans:wght@400;700&family=Outfit:wght@300;400;600;700&family=Poppins:wght@300;400;600&family=Red+Hat+Display:wght@500;700;900&family=Roboto:wght@100&display=swap");

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: " IBM Plex Sans", sans-serif;
}

main {
  margin-top: 16.6rem;
}

.main-content h1 {
  font-size: 4rem;
  color: #191826;
  font-weight: 700;
  line-height: 4.8rem;
  letter-spacing: -0.0455rem;
  margin-top: 6.4rem;
}

.main-content p {
  color: #191826;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  margin-top: 2rem;
}

.equalizer-img {
  width: 14.6093rem;
  fill: #191826;
}

.content {
  background-image: url(./assets/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-position: top -20rem right -20rem;
  padding: 4rem 2.4rem 0rem;
}

.container-card {
  position: relative;
}

.mobile-picture {
  background: #191826;
  border-radius: 1.2rem;
  padding-bottom: 60rem;
  position: relative;
}

.first-illustration {
  width: 20.8972rem;
  height: 43rem;
  position: absolute;
  z-index: 9;
  left: 50%;
  transform: translateX(-50%);
  top: -9.8rem;
}

.second-illustration {
  position: absolute;
  z-index: 1;
  width: 28rem;
  left: 50%;
  transform: translateX(-50%);
  height: 42rem;
}

.premium {
  background: #fa7453;
  border-radius: 1.2rem;
  z-index: 1;
  position: absolute;
  padding: 4.8rem 3.7rem;
  top: 390px;
  width: 100%;
}

.premium h2 {
  color: #fcfaf9;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4rem;
}

.premium p {
  color: #fcfaf9;
  font-size: 1.8rem;
  margin-top: 1.2rem;
  font-weight: 400;
  line-height: 2.8rem;
}

.premium .price {
  color: #fcfaf9;
  font-size: 6.5rem;
  font-weight: 700;
  line-height: 5.2rem;
  margin-top: 3.6rem;
}

.premium .price span {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: -0.02rem;
}

.buttons {
  margin-top: 3.2rem;
  display: flex;
  gap: 1.6rem;
  flex-direction: column;
}

.button {
  display: block;
  align-items: center;
  justify-content: center;
  border-radius: 1.2rem;
  width: 29.6rem;
  height: 6.1rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: -0.018rem;
  border: none;
  display: flex;
  gap: 0.792rem;
}

.button1 {
  background-color: #191826;
  color: #fcfaf9;
  transition: 0.3s;
}

.button2 {
  color: #191826;
  transition: 0.3s;
}

.button1 img {
  width: 1.7083rem;
  height: 2rem;
}

.button2 img {
  width: 1.6702rem;
  height: 2rem;
}

.main-footer {
  padding: 0rem 2.4rem 0;
  margin-top: 39rem;
}

.address {
  color: #191826;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  width: 34ch;
}

.address span {
  font-weight: 700;
  display: flex;
  text-decoration: none;
  color: #191826;
}

.footer-icons {
  margin-top: 6.4rem;
  padding-bottom: 8rem;
  display: flex;
  gap: 2rem;
  transition: 0.3s;
}

@media only screen and (min-width: 48rem) {
  .main-content h1 {
    font-size: 6.4rem;
    line-height: 6.4rem;
    letter-spacing: -0.0727rem;
    margin-top: 9.5rem;
    width: 17ch;
  }

  .main-content p {
    font-size: 1.8rem;
    line-height: 2.6rem;
    margin-top: 2.8rem;
    line-height: 2.8rem;
    width: 51ch;
  }

  body {
    background-image: url(./assets/bg-main-tablet.png);
    background-position: top -25rem right -12rem;
    padding: 4rem 2.4rem 0rem;
    background-repeat: no-repeat;
  }

  .content {
    background-image: url(./assets/bg-pattern-1.svg);
    background-repeat: no-repeat;
    background-position: top -12rem right -8rem;
  }

  .container-card {
    display: flex;
    justify-content: center;
    margin-top: 24.9rem;
  }

  .mobile-picture {
    background: #191826;
    width: 69.6rem;
    height: 60rem;
  }
  .first-illustration {
    width: 27.0206rem;
    height: 55.6rem;
    left: 28%;
    top: -13.8rem;
  }

  .second-illustration {
    left: 33%;
    transform: translateY(-5%);
  }

  .premium {
    width: 39.9rem;
    z-index: 9;
    top: 15.3rem;
    left: 23.2rem;
    padding: 4.8rem 4.8rem 4.8rem 4.8rem;
  }

  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main-footer {
    padding: 0rem 3.5rem 0;
    margin-top: 18.3rem;
  }

  .address {
    width: 41ch;
  }

  .address a {
    display: inline;
  }

  .button1:hover {
    background-color: #66e2dc;
    cursor: pointer;
    transition: 0.3s;
  }

  .button2:hover {
    background-color: #ffb964;
    cursor: pointer;
    transition: 0.3s;
  }

  .footer-icons :hover {
    fill: #fa7453;
    cursor: pointer;
    transition: 0.3s;
  }
}

@media only screen and (min-width: 90rem) {
  .main-content h1 {
    font-size: 8.8rem;
    line-height: 8.8rem;
    letter-spacing: -0.1rem;
    width: 18ch;
  }

  .main-content p {
    font-size: 2rem;
    line-height: 3.4rem;
    margin-top: 4rem;
    width: 74ch;
  }

  body {
    background-image: url(./assets/bg-main-desktop.png);
  }

  .content {
    background-position: top -9rem right -1rem;
    padding: 6.2rem 18rem;
  }

  .container-card {
    margin-top: 32.1rem;
  }

  .mobile-picture {
    width: 111rem;
  }

  .first-illustration {
    width: 28rem;
    height: 60.6rem;
    left: 27%;
    top: -19.4rem;
  }

  .premium {
    width: 44.6rem;
    top: 9.3rem;
    left: 75rem;
    padding: 5.4rem 5.9rem 5.9rem 6.8rem;
  }

  .premium h2 {
    font-size: 4rem;
    line-height: 5.2rem;
  }

  .premium p {
    font-size: 2rem;
    margin-top: 2.2rem;
    line-height: 3.4rem;
    width: 29ch;
  }

  .premium .price {
    margin-top: 3.9rem;
  }
  .buttons {
    margin-top: 4.6rem;
  }

  .button {
    width: 33.3rem;
  }

  .main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20.2rem;
    padding: 0 18rem 0;
    gap: 13.8rem;
  }

  .footer-content {
    gap: 36rem;
  }
}
